@model IEnumerable<WheelofAccess.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6">
                <h6 class="my-1 font-weight-bold text-primary">@ViewBag.Title</h6>
            </div>
            <div class="col-md-6">
                <a href=@Url.Action("Create New", "Create") class="btn btn-primary float-right">
                    <i class="fas fa-plus text-white-50"></i>&nbsp; Create New
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th>
                            Details
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>   
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th>
                            Details
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                <div id="details"></div>
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section styles{
    <link rel="stylesheet" href="~/Content/datatables/dataTables.bootstrap4.min.css">
}
@section scripts{
    <script src="~/Content/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
       

    </script>
}