@model WheelofAccess.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">My Profile</h4>
                        <p class="card-category">Manage my profile</p>
                    </div>
                    <div class="card-body">

                        @using (Html.BeginForm("ProfilePic", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <p>
                                Email
                            </p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" title="change Email"><i class="fas fa-envelope"></i></span>
                                </div>
                                <div class="input-group-append" style="width:calc(100% - 46px)">
                                    <span class="btn btn-secondary w-100 disabled">@User.Identity.Name</span>
                                </div>

                            </div>

                            <p>
                                Password
                            </p>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" title="change password"><i class="fas fa-key"></i></span>
                                </div>
                                <div class="input-group-append" style="width:calc(100% - 46px)">
                                    @if (Model.HasPassword)
                                    {
                                        @Html.ActionLink("Change my password", "ChangePassword", new { }, new { @class = "btn btn-secondary w-100" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Create", "SetPassword", new { }, new { @class = "btn btn-secondary w-100" })
                                    }
                                </div>

                            </div>
                            <p>
                                Personal Info
                            </p>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" title="change personal info"><i class="fas fa-user"></i></span>
                                </div>
                                <div class="input-group-append" style="width:calc(100% - 46px)">
                                    @Html.ActionLink("Change my personal info", "EditPersonalInfo", new { }, new { @class = "btn btn-secondary w-100" })
                                </div>

                            </div>
                            <p>
                                External logins @Model.Logins.Count
                            </p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" title="manage external logins"><i class="fas fa-external-link-alt"></i></span>
                                </div>
                                <div class="input-group-append " style="width:calc(100% - 46px)">
                                    @Html.ActionLink("Manage Extrnal Logins", "ManageLogins", new { }, new { @class = "btn btn-secondary w-100" })
                                </div>

                            </div>

                            <p>
                                Photo
                            </p>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" title="upload profile picture"><i class="fas fa-id-badge"></i></span>
                                </div>
                                <div class="custom-file">
                                    <input name="Profile" id="fileUpload" type="file" class="custom-file-input" />
                                    <label class="custom-file-label" for="fileUpload">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary float-right">
                            </div>


                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="@Url.Action("Photo", "Account" )" style="width:100%" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">@Html.DisplayFor(model=>model.FirstName)</h6>
                        <h4 class="card-title">@User.Identity.Name</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
