@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-comment-alt fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter d-none"></span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Chat Center
                    </h6>
                    <div id="newMessages">

                    </div>
                    
                    <a class="dropdown-item text-center small text-gray-500" href="/Chat">Live Chat</a>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->

            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello @User.Identity.GetUserName()</span>
                    <img class="img-profile rounded-circle" src="@Url.Action("Photo", "Account" )">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index", "Manage")">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        My profile
                    </a>
                    <a class="dropdown-item" href="@Url.Action("EditPersonalInfo", "Manage")">
                        <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                        Edit my info
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
        <!-- Logout Modal-->
        @*<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                    </div>
                </div>
            </div>
        </div>*@

    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">
            Register
        </a>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
            Log in
        </a>
    </li>
</ul>

}
